.promo-container {
  position: fixed;
  top: 20%;
  left: -290px;

  transition: 1s;

  width: 350px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 1px;

  color: #fff;
  display: block;
  float: left;
  background: #00aa00;

  font-family: 'UpheavalPro', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.promo-container:hover {
  left: 0px;
  transition: 1s;
}

.promo-container::before,
.promo-container::after {
  content: '';
  position: absolute;
  left: 99%;
  width: 0;
  height: 0;
  border-style: solid;
  display: block;
}
.promo-container::before {
  top: 0;
  border-width: 28px 28px 0 0;
  border-color: #00aa00 transparent transparent transparent;
}
.promo-container::after {
  bottom: 0;
  border-width: 0 25px 25px 0;
  border-color: transparent transparent #00aa00 transparent;
}

.promo-procent {
  color: #ffaa00;
}

.promo-text-container {
  margin-left: -40px;
}

.promo-zsu {
  position: absolute;

  background-image: url(../../assets/img/zsu.png);
  width: 45px;
  height: 45px;
  top: 3px;
  right: 5px;
}
