.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;

  background: url(../../assets/img/bg-dark.png);

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

.logo-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  font-family: 'UpheavalPro';

  color: #fff;
  transition: 0.5s;
}

.logo:hover {
  color: rgb(245, 228, 117);
  transition: 0.5s;
}
