.header {
  position: absolute;
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 0 50px;
}

.logo-container {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;

  color: #fff;
  transition: 0.5s;
}

.logo:hover {
  color: rgb(245, 228, 117);
  transition: 0.5s;
}
