.section-top {
  color: white;

  background: url(../../assets/img/header.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
}

.label-main {
  font-size: 160px;
  margin-top: 25%;
  margin-bottom: 60px;
}

.label-text {
  font-size: 52px;
  color: white;
  margin: 20px auto;
}

.btns-container {
  margin-top: 105px;
  text-align: center;
}

@media (max-width: 1020px) {
  .label-main {
    font-size: 105px;
  }

  .label-text {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .label-main {
    font-size: 65px;
  }

  .label-text {
    font-size: 30px;
  }

  .btns-container {
    min-height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .label-main {
    font-size: 45px;
  }
}

.section-servers {
  font-family: 'UpheavalPro', sans-serif;
}

.about-label {
  margin-top: 75px;
  margin-bottom: 40px;
}

.section-projects {
  background-image: url(../../assets/img/pattern.png);
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.projects-label {
  margin-top: 25px;
  margin-bottom: 25px;
}

.projects-text {
  margin-top: 5px;
  margin-bottom: 65px;
  width: 100%;
}

.projects-images {
  display: flex;

  flex-wrap: wrap;
}

.project-img-container {
  width: 25%;
}

.project-img {
  width: 100%;
  height: 100%;
}

.section-reviews {
  background-image: url(../../assets/img/testiomnials-background.png);
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 40px;
  padding-bottom: 40px;

  height: auto;
}

.review-label {
  color: white;
}

.section-counters {
  background-image: url(../../assets/img/counter.png);
  background-position-y: -150px;
  padding: 10px;

  color: white;
}

.winers-content {
}

.winer-label {
  font-size: 28px;
}

.winer-date {
  position: absolute;
  font-size: 64px;
  transform: rotate(-90deg);
  margin-top: 200px;
  margin-left: -100px;
  color: white;
  -webkit-text-stroke: 2px black;
  letter-spacing: 1px;

  @media (max-width: 600px) {
    position: inherit;
    transform: rotate(0);
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.winer-container {
  display: flex;
  justify-content: space-around;
  padding: 35px;

  @media (max-width: 600px) {
    padding: 5px;
  }
}

.winers-nick {
  margin-top: 15px;
  font-size: 28px;
  color: #ffaa00;
}

.winer-donater {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skin {
  margin-top: 15px;
  height: 300px;
  width: 150px;
}

.counter-conent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.counter-label {
  color: white;
  margin-bottom: 50px;
}

.counter-timer {
  width: 50%;
}

.counter-quote {
  width: 45%;
  font-size: 22px;
}
