.download-btn {
  width: auto;
  text-align: center;
  height: 63px;
  line-height: 63px;
  background: #f1d204;
  margin: 0 15px;
  padding: 0 70px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Poppins';
  min-width: 242px;
}

.download-btn:hover {
  background: rgb(209, 182, 7);
  text-decoration: none;
}
